/* example.css */

/* Styling for the form container */
.product {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  /* Styling for form labels */
   .product label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #333;
  }
  
  /* Styling for form inputs and textarea */
   .product input[type="text"],
  .product textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
  } 
  
   /* Styling for the select dropdown */ 
   .product select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
  }  
  
   /* Styling for the file input  */
   .product input[type="file"] {
    margin-bottom: 15px;
  } 
   
  /* Styling for the "Start Selling" button */
  .btn{
    width: 200px;
    height: 50px;
    margin-left: 62px;
    /* margin-top: 200px; */
    font-size: 17px;
    background: transparent;
    border-radius: 50px;
    padding: 15px;
    transform: translateX(620px);
    text-decoration: none;
    color: #2a0f0164;
    font-family:Georgia;
    font-weight: 900;
    outline: none;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    margin: auto;
  }
  .startselling-btn:hover {
    background-color: #fff;
    
  }

  .design{
    display: flex;
    transform: translateX(600px);
    position: absolute;
    background-color: transparent;
    z-index: 99;
    margin-top: 10px;
  }
  /* .showcard{
    position: relative;
    width: 500px;
    height: 550px;
    margin-left: 250px;
    margin-top: 50px;
    background: transparent;
    border: 2px solid rgba(225, 225, 225, .5);
    border-radius: 20px;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
  } */

  .roll{
    width: 200px;
    height: 50px;
    margin-left: 62px;
    margin-top: 200px;
    font-size: 17px;
    background: transparent;
    border-radius: 50px;
    padding: 15px;
    transform: translateX(-115px);
    text-decoration: none;
    color: #2a0f0164;
    font-family:Georgia;
    font-weight: 900;
    outline: none;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    margin: auto;
  }

  .vpn{
    background-color: rgb(221, 221, 173);
  }
  

  .modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    color: var(--bs-modal-color);
    pointer-events: auto;
    background-color:  rgb(221, 221, 173);
    background-clip: padding-box;
    border: var(--bs-modal-border-width) solid var(--bs-modal-border-color);
    border-radius: var(--bs-modal-border-radius);
    outline: 0;
}